body {
  margin: 0;
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
section .item_chosen{
  background-color: aquamarine;
}
button {
  background-color: ivory;
  border-width: 1;
}

div.page_header{
  color: whitesmoke;
  font-size: 2rem;
  padding: 0.4em;
}

section.item{
  width: 100%;
  height: 2em;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-between;
}

div.item_division{
  padding: 0;
  margin: 0;
  border-width: 0;
}

div.item_dragbtn{
  width: 2em;
  order: 1;
}

div.item_check{
  width: 2em;
  display: flex;
  order: 2;
}

div.item_act{
  order: 3;
  flex-grow: 4;
}

div.item_state{
  width: 5em;
  order: 4;
  display: flex;
}

div.item_org{
  width: 2em;
  order: 6;
  display: flex;
}

div.item_append{
  width: 2em;
  order: 5;
  display: flex;
}

div.item_option{
  width: 2em;
  order: 7;
  display: flex;
}

.eqWrap {
	display: flex;
}

.equalHW {
	flex: 1;
}

.equalHMWrap {
	justify-content: space-between;
}

.eq {
	padding: 10px;
}

div.item_focused {
  background-image: linear-gradient(to right, rgba(217, 252, 255, 0.548), rgba(164, 255, 240, 0.719));
}

button.item_btn{
  width: 100%;
  border-width: 0;
  background-color: transparent;
}

button.item_btn_draggable{
  width: 100%;
  height: 100%;
  border-width: 0;
  background-color: rgb(206, 206, 206);
}

button.item_btn_highlighted{
  width:100%;
  background-color: rgb(110, 110, 110);
  border-width: 0;
  color: white;
}

input.item_content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

input.item_content_act{
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
}

input.item_content_end_when{
  color: rgb(66, 66, 66);
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
}

.item_container {
  margin-left: 10%;
  margin-right: 10%;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  overflow:auto;
  overflow-y: scroll;
  /* Preserve aspet ratio */
  height: 100%;
  width: 100%;
}

.bg_normal {
  color: black;
  background-color: rgb(245, 245, 245);;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.bg_focus {
  color: rgb(255, 255, 255);
  background-color: black;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

@media screen and (min-width: 700 px) {

}

span.emoji_span {
  font-size: larger;
}

/* Dashed border */
hr.dashed {
  border-top: 1px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 1px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
